

<% if user_signed_in? %>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
<%= link_to friend.first_name + ' ' + friend.last_name, friend %>


          </td>
          
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          
          
          
          
          
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>
<% else %>

<div class="card" style="width: 20rem;">
  <img src="https://res.cloudinary.com/dmgcn668q/image/upload/v1609761936/picx_qvysox.png" class="card-img-top" alt="David Obi"> 
  <div class="card-body">
    <h5 class="card-title">Hello There!</h5>
    <p class="card-text">My name is David, I was inspired by Joseph to learn rails,
  This is my very first application but I am definitely going to create more.
  Welcome to my page. Please sign up or login to continue. Cheers</p>
    <a href="https://www.linkedin.com/in/obidavidkenechukwu/" target="_blank" class="btn btn-primary">Check out my Linkedin</a>
  </div>
</div>


<% end %>
